/*google fonts file*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(19, 18, 18);
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
}
.logo {
    margin-left: 60px;
    margin-top: 50px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
}
.logo img{
    height: 7vh;
}
.logo h2{
    color: rgb(218, 12, 12);
    font-size: 25px;
    margin-top: -35px;
    margin-left: 50px;
    letter-spacing: 30px;
}
.nav ul{
    display: flex;
}
.nav ul {
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    font-weight: bolder;
    position: relative; left: 655px;
}
.nav ul li a:hover{
    color: red;
    font-weight: bolder;
}
.user {
    cursor: pointer;
    color: black;
    margin-top: 40px;
    margin-right: 40px;
}
.user a{
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: bolder;
}
.user a:hover{
    color: red;
    font-weight: bolder;
}
.user i{
    font-size: 20px;
    margin-right: 10px;
    padding: 0px 14px;
    color: red;
}
.user i:hover{
    color: red;
    transform: scale(1.1);
}
.marvel {
    position: absolute;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
}
.inside-marvel{
    line-height: 1.2;
}
.inside-marvel h1{
    font-size: 40px;
}
.inside-marvel p{
    font-size: 17px;
}
span {
    color: red;
    font-weight: bolder;
}
.line1 {
    height: 2px;
    color: red;
    width: 12%;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
}
.poster {
    margin-top: 50px;
    margin-right: 650px;
}
.poster img{
    height: 500px;
    float: right;
    border-radius: 5px;
    border: solid 5px red;
}
.btn-1 {
    margin-top: 30px;
}
.btn-1 a{
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    background: red;
    border-radius: 20px;
}
.btn-1 a:hover{
    background: black;
    color: red;
}
.btn-1 i{
    color: black;
    padding: 0px 10px;
}
.h1-1 {
    color: white;
    text-align: center
}
.marvel-1 {
    margin-top: 200px;
}
.marvel-1 img {
    height: 400px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 200px;
    
}
.marvel-2 img {
    height: 400px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 20px;
    width: 265px;
}
.marvel-3 img{
    height: 400px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 20px;
    width: 265px;
}
.marvel-4 img{
    height: 400px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 20px;
    width: 265px;
}
.marvel-5 img{
    height: 400px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 20px;
    width: 265px;
}
.marvel-6 img{
    height: 400px;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 300px;
    width: 265px;
    float: right;
}
.h3-marvel {
    color: red;
    font-size: 30px;
    letter-spacing: 5px;
    margin-left: 30px;
    position: relative; top: 200px;
    font-weight: bolder;
}
.h3-dc {
    color: red;
    font-size: 30px;
    letter-spacing: 5px;
    margin-left: 30px;
    font-weight: bolder;
}
.dc-1 img{
    height: 400px;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 300px;
    width: 265px;
}
.h3-hollywood {
    color: red;
    font-size: 30px;
    letter-spacing: 5px;
    margin-left: 30px;
    font-weight: bolder;
    position: relative; bottom: 300px;
}
.hollywood-1 img {
    height: 400px;
    border-radius: 5px;
    margin-left: 30px;
    position: relative; bottom: 290px;
    width: 265px;
}
.h3-cartoon {
    color: red;
    font-size: 30px;
    letter-spacing: 5px;
    margin-left: 30px;
    font-weight: bolder;
    position: relative; bottom: 285px;
}
.cartoon-1 img {
    height: 400px;
    border-radius: 5px; 
    margin-left: 30px;
    position: relative; bottom: 280px;
    width: 265px;
}
.marvel-1 img:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(0.7);
}
.marvel-2 img:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(0.7);
}
.marvel-4 img:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(0.7);
}
.dc-1 img:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(0.7);
}
.hollywood-1 img:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(0.7);
}
.cartoon-1 img:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(0.7);
}
.h3-studioghibli {
    color: red;
    font-size: 30px;
    letter-spacing: 5px;
    margin-left: 30px;
    font-weight: bolder;
    position: relative; bottom: 270px;
}
.studioghibli-1 img {
    height: 400px;
    border-radius: 5px;
    margin-left: 30px;
    position: relative; bottom: 260px;
}
.studioghibli-1 img:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(0.7);
}.h3-series {
    color: red;
    font-size: 30px;
    letter-spacing: 5px;
    margin-left: 30px;
    font-weight: bolder;
    position: relative; top: 180px;
    z-index: 1;
}
.series-1 img {
    height: 400px;
    border-radius: 5px;
    margin-left: 30px;
    position: relative; top: 180px;
}
.series-1 img:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(0.7);
}
.series-2 img {
    height: 400px;
    border-radius: 5px;
    margin-left: 30px;
    position: relative; top: 200px;
    margin-top: 5px;
}
.series-2 img:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(0.7);
}
.series-3 img {
    height: 400px;
    border-radius: 5px;
    margin-left: 30px;
    position: relative; top: 200px;
    margin-top: 5px;
    filter: brightness(0.7);
}
.series-3 img:hover {
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(0.7);
}
.div-1 {
    position: relative; left: 800px; top: 400px;
}
.div-2 {
    position: relative; left: 755px; top: 420px;
}
.input {
    height: 400px;
    width: 800px;
}
.label-1 {
    position: relative; bottom: 20px; left: 63px;
    color: red;
}
.label-2 {
    position: relative; bottom: 20px; left: 107px;
    color: red;
}
.hd-1 a {
    text-decoration: none;
    color: red;
}
.span-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    background: #262626 -webkit-gradient(linear, left top, right top, from(#262626), to(#262626), color-stop(0.5, red)) 0 0 no-repeat;
    -webkit-background-size: 150px;
    background-size: 150px;
    color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    animation: animate 5s infinite;
}

@keyframes animate {
    0%, 10% {
        background-position: -1000px;
    }
    20% {
        background-position: top left;
    }
    90% {
        background-position: top right;
    }
    100% {
        background-position: 1000px;
    }
}